*{
    background-color: gray;
}

#apples , #oranges {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 75%;
    border: 1px solid black;
    /* text-align: center; */
}
#apples:hover , #oranges:hover  {
    background-color: #fff;
    /* color: #fff; */
}



.shelf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 1rem;
}